body {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 0;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#quiz,
#scoreScreen,
#finalScreen {
  display: none;
}

#highScores {
  display: block;
}

.changingScreen {
  margin-top: auto;
  width: 50%;
  height: 20rem;
}

button {
  background-color: #87cefa; /* light blue */
  color: #fff; /* white */
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #00bfff; /* brighter blue */
  cursor: pointer;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #333; /* dark grey */
    margin: 0.5rem;
    letter-spacing: 1px;
  }

p {
  font-size: larger;
  text-decoration: bold;
}

#timer {
  font-size: 2.0rem;
  text-decoration: bold;
}
